In [2]:
import numpy as np
import pandas as pd

In [3]:
values = pd.Series(['apple', 'orange', 'apple', 'apple'] * 2)

In [4]:
values

0     apple
1    orange
2     apple
3     apple
4     apple
5    orange
6     apple
7     apple
dtype: object

In [5]:
pd.unique(values)

array(['apple', 'orange'], dtype=object)

In [6]:
pd.value_counts(values)

apple     6
orange    2
dtype: int64

In [7]:
values = pd.Series([0, 1, 0, 0] * 2)

In [9]:
dim = pd.Series(['appple', 'orange'])

In [10]:
values

0    0
1    1
2    0
3    0
4    0
5    1
6    0
7    0
dtype: int64

In [11]:
dim

0    appple
1    orange
dtype: object

In [12]:
dim.take(values)

0    appple
1    orange
0    appple
0    appple
0    appple
1    orange
0    appple
0    appple
dtype: object

In [13]:
fruits = ['apple', 'orange', 'apple', 'apple'] * 2

In [15]:
N = len(fruits)

In [18]:
df = pd.DataFrame({'fruit': fruits,
    'basket_id': np.arange(N),
    'count': np.random.randint(3, 15, size=N),
    'weight': np.random.uniform(0, 4, size=N)},
    columns=['basket_id', 'fruit', 'count', 'weight'])

In [19]:
df

   basket_id   fruit  count    weight
0          0   apple     13  3.304330
1          1  orange     12  0.059136
2          2   apple     13  3.498836
3          3   apple     12  0.351296
4          4   apple      5  3.871012
5          5  orange      8  1.482846
6          6   apple      4  3.561771
7          7   apple      4  1.769273

In [20]:
fruit_cat = df['fruit'].astype('category')

In [21]:
fruit_cat

0     apple
1    orange
2     apple
3     apple
4     apple
5    orange
6     apple
7     apple
Name: fruit, dtype: category
Categories (2, object): [apple, orange]

In [22]:
c = fruit_cat.values

In [23]:
c

[apple, orange, apple, apple, apple, orange, apple, apple]
Categories (2, object): [apple, orange]

In [24]:
type(c)

pandas.core.arrays.categorical.Categorical

In [25]:
c.categories

Index(['apple', 'orange'], dtype='object')

In [26]:
c.codes

array([0, 1, 0, 0, 0, 1, 0, 0], dtype=int8)

In [27]:
df['fruit'] = df['fruit'].astype('category')

In [28]:
df

   basket_id   fruit  count    weight
0          0   apple     13  3.304330
1          1  orange     12  0.059136
2          2   apple     13  3.498836
3          3   apple     12  0.351296
4          4   apple      5  3.871012
5          5  orange      8  1.482846
6          6   apple      4  3.561771
7          7   apple      4  1.769273

In [29]:
type(df['fruit'])

pandas.core.series.Series

In [30]:
df.fruit

0     apple
1    orange
2     apple
3     apple
4     apple
5    orange
6     apple
7     apple
Name: fruit, dtype: category
Categories (2, object): [apple, orange]

In [31]:
my_categories = pd.Categorical(['foo', 'bar', 'baz', 'foo', 'bar'])

In [32]:
my_categories

[foo, bar, baz, foo, bar]
Categories (3, object): [bar, baz, foo]

In [33]:
my_categories.codes

array([2, 0, 1, 2, 0], dtype=int8)

In [34]:
pd.get_dummies(my_categories)

   bar  baz  foo
0    0    0    1
1    1    0    0
2    0    1    0
3    0    0    1
4    1    0    0