In [1]:
from datetime import datetime
import numpy as np
import pandas as pd

In [2]:
dates = [datetime(2011, 1, 2), datetime(2011, 1, 3), datetime(2011, 1, 5), datetime(2011, 1, 7),
        datetime(2011, 1, 9), datetime(2011, 1, 10)]

In [3]:
dates

[datetime.datetime(2011, 1, 2, 0, 0),
 datetime.datetime(2011, 1, 3, 0, 0),
 datetime.datetime(2011, 1, 5, 0, 0),
 datetime.datetime(2011, 1, 7, 0, 0),
 datetime.datetime(2011, 1, 9, 0, 0),
 datetime.datetime(2011, 1, 10, 0, 0)]

In [4]:
ts = pd.Series(np.random.randn(6), index=dates)

In [5]:
ts

2011-01-02    0.561466
2011-01-03   -0.145611
2011-01-05   -1.426006
2011-01-07   -0.647623
2011-01-09    1.979996
2011-01-10   -0.051569
dtype: float64

In [6]:
ts.index

DatetimeIndex(['2011-01-02', '2011-01-03', '2011-01-05', '2011-01-07',
               '2011-01-09', '2011-01-10'],
              dtype='datetime64[ns]', freq=None)

In [7]:
ts + ts[::2]

2011-01-02    1.122931
2011-01-03         NaN
2011-01-05   -2.852012
2011-01-07         NaN
2011-01-09    3.959992
2011-01-10         NaN
dtype: float64

In [8]:
ts[::2]

2011-01-02    0.561466
2011-01-05   -1.426006
2011-01-09    1.979996
dtype: float64

In [9]:
ts.index.dtype

dtype('<M8[ns]')

In [10]:
ts.index[2]

Timestamp('2011-01-05 00:00:00')

In [11]:
stamp = ts.index[2]

In [12]:
ts[stamp]

-1.4260060009883522

In [13]:
ts['2011-01-05']

-1.4260060009883522

In [14]:
ts['20110105']

-1.4260060009883522

In [15]:
longer_ts = pd.Series(np.random.randn(30),
                     index=pd.date_range('2000/1/1', periods=30))

In [16]:
longer_ts

2000-01-01    0.062206
2000-01-02   -0.400140
2000-01-03    1.309267
2000-01-04    1.042249
2000-01-05   -1.312826
2000-01-06    0.425814
2000-01-07    0.369441
2000-01-08    0.626038
2000-01-09    0.418752
2000-01-10    0.417152
2000-01-11   -0.941119
2000-01-12    0.315755
2000-01-13   -0.500614
2000-01-14    0.705092
2000-01-15   -0.769300
2000-01-16    1.712043
2000-01-17   -0.661257
2000-01-18   -0.446797
2000-01-19    0.468882
2000-01-20   -0.741400
2000-01-21    0.788056
2000-01-22   -0.884793
2000-01-23    1.512500
2000-01-24    0.596371
2000-01-25    1.131256
2000-01-26   -0.100071
2000-01-27   -0.926723
2000-01-28   -1.786978
2000-01-29    0.684250
2000-01-30   -0.076135
Freq: D, dtype: float64

In [17]:
longest_ts = pd.Series(np.random.randn(1000),
                     index=pd.date_range('2000/1/1', periods=1000))

In [18]:
longest_ts['2001']

2001-01-01   -0.629375
2001-01-02    0.594517
2001-01-03    0.796537
2001-01-04   -0.491472
2001-01-05   -2.041855
2001-01-06   -0.382931
2001-01-07   -0.429851
2001-01-08    2.090270
2001-01-09   -0.448536
2001-01-10   -0.928857
2001-01-11   -0.170300
2001-01-12    1.798807
2001-01-13    0.219181
2001-01-14    0.177359
2001-01-15   -0.517502
2001-01-16   -0.343601
2001-01-17   -0.930308
2001-01-18   -0.661323
2001-01-19   -0.276414
2001-01-20   -0.161398
2001-01-21    0.543946
2001-01-22   -0.816618
2001-01-23   -0.291385
2001-01-24   -0.734896
2001-01-25   -0.167070
2001-01-26    0.197678
2001-01-27   -0.884679
2001-01-28   -1.508802
2001-01-29   -0.707371
2001-01-30   -0.557347
                ...
2001-12-02   -1.514448
2001-12-03    0.323025
2001-12-04   -0.476434
2001-12-05   -0.211204
2001-12-06   -0.150508
2001-12-07    0.262383
2001-12-08    0.998137
2001-12-09   -0.989222
2001-12-10   -1.959937
2001-12-11   -1.108083
2001-12-12    0.072839
2001-12-13    1.278585
2001-12-14    0.323203
2001-12-15    0.679147
2001-12-16   -0.163669
2001-12-17   -0.436933
2001-12-18   -1.226454
2001-12-19    0.125170
2001-12-20   -1.444495
2001-12-21    0.090625
2001-12-22    0.187878
2001-12-23    0.257093
2001-12-24    1.957713
2001-12-25    0.166798
2001-12-26   -1.594235
2001-12-27    0.342532
2001-12-28    0.380256
2001-12-29    0.480563
2001-12-30   -0.323030
2001-12-31   -0.432497
Freq: D, Length: 365, dtype: float64

In [19]:
longest_ts['2000']

2000-01-01   -1.179089
2000-01-02    0.476831
2000-01-03   -0.432824
2000-01-04    1.860395
2000-01-05   -0.121090
2000-01-06    1.003150
2000-01-07   -0.741035
2000-01-08    2.266809
2000-01-09    0.644474
2000-01-10    0.551503
2000-01-11   -0.405612
2000-01-12   -1.334819
2000-01-13   -0.045012
2000-01-14   -0.866404
2000-01-15    1.794477
2000-01-16    0.723418
2000-01-17   -0.339517
2000-01-18   -0.461211
2000-01-19    0.097619
2000-01-20   -2.210853
2000-01-21   -0.281519
2000-01-22   -1.077253
2000-01-23   -2.336670
2000-01-24   -0.284089
2000-01-25    1.543158
2000-01-26    0.094773
2000-01-27    0.848998
2000-01-28    0.902907
2000-01-29   -0.294434
2000-01-30   -1.783351
                ...
2000-12-02   -0.248391
2000-12-03    0.034800
2000-12-04   -0.552319
2000-12-05    0.888940
2000-12-06    0.172261
2000-12-07   -1.182229
2000-12-08   -1.073425
2000-12-09    0.569792
2000-12-10    1.076595
2000-12-11   -0.689574
2000-12-12   -0.037915
2000-12-13    0.255981
2000-12-14   -1.590672
2000-12-15   -0.103658
2000-12-16    1.074724
2000-12-17    1.418781
2000-12-18    2.862570
2000-12-19   -1.134561
2000-12-20    0.488491
2000-12-21   -0.533932
2000-12-22   -0.634183
2000-12-23   -1.155960
2000-12-24    0.236608
2000-12-25    0.237684
2000-12-26    0.959496
2000-12-27    0.897535
2000-12-28    0.532730
2000-12-29   -0.975986
2000-12-30   -0.490271
2000-12-31    0.225162
Freq: D, Length: 366, dtype: float64

In [20]:
longest_ts['2000-05']

2000-05-01    0.132295
2000-05-02    0.428069
2000-05-03    1.051904
2000-05-04   -1.371668
2000-05-05    0.530953
2000-05-06    2.087690
2000-05-07    0.188493
2000-05-08   -0.796946
2000-05-09    0.314505
2000-05-10   -0.719894
2000-05-11    0.139018
2000-05-12   -1.933456
2000-05-13   -0.785987
2000-05-14   -0.014272
2000-05-15   -0.948649
2000-05-16   -2.195850
2000-05-17   -0.600959
2000-05-18   -1.339638
2000-05-19    0.343267
2000-05-20    0.910731
2000-05-21    0.464480
2000-05-22    0.607530
2000-05-23   -0.492345
2000-05-24    1.693805
2000-05-25    2.532629
2000-05-26   -0.199320
2000-05-27    0.406589
2000-05-28   -0.380755
2000-05-29   -0.504074
2000-05-30   -1.230486
2000-05-31   -1.621795
Freq: D, dtype: float64

In [21]:
ts[datetime(2011, 1, 7):]

2011-01-07   -0.647623
2011-01-09    1.979996
2011-01-10   -0.051569
dtype: float64

In [22]:
ts

2011-01-02    0.561466
2011-01-03   -0.145611
2011-01-05   -1.426006
2011-01-07   -0.647623
2011-01-09    1.979996
2011-01-10   -0.051569
dtype: float64

In [23]:
ts[datetime(2011, 1, 5):]

2011-01-05   -1.426006
2011-01-07   -0.647623
2011-01-09    1.979996
2011-01-10   -0.051569
dtype: float64

In [24]:
ts[datetime(2011, 1, 5) : datetime(2011, 1, 9)]

2011-01-05   -1.426006
2011-01-07   -0.647623
2011-01-09    1.979996
dtype: float64

In [25]:
ts[datetime(2011, 1, 5) : datetime(2011, 1, 8)]

2011-01-05   -1.426006
2011-01-07   -0.647623
dtype: float64

In [26]:
dates = pd.DatetimeIndex(['1/1/2000', '1/2/2000', '1/2/2000', '1/2/2000', '1/3/2000'])

In [27]:
dates

DatetimeIndex(['2000-01-01', '2000-01-02', '2000-01-02', '2000-01-02',
               '2000-01-03'],
              dtype='datetime64[ns]', freq=None)

In [28]:
duplicate_ts = pd.Series(np.arange(5), index = dates)

In [29]:
duplicate_ts

2000-01-01    0
2000-01-02    1
2000-01-02    2
2000-01-02    3
2000-01-03    4
dtype: int32

In [30]:
duplicate_ts.index.is_unique

False

In [31]:
duplicate_ts['2000-01-02']

2000-01-02    1
2000-01-02    2
2000-01-02    3
dtype: int32

In [32]:
grouped = duplicate_ts.groupby(level=0)

In [33]:
grouped.mean()

2000-01-01    0
2000-01-02    2
2000-01-03    4
dtype: int32

In [34]:
grouped.count()

2000-01-01    1
2000-01-02    3
2000-01-03    1
dtype: int64

In [35]:
ts

2011-01-02    0.561466
2011-01-03   -0.145611
2011-01-05   -1.426006
2011-01-07   -0.647623
2011-01-09    1.979996
2011-01-10   -0.051569
dtype: float64

In [36]:
resampler = ts.resample('D')

In [37]:
resampler

DatetimeIndexResampler [freq=<Day>, axis=0, closed=left, label=left, convention=start, base=0]

In [38]:
pd.date_range(start='2012-4-1', periods=20)

DatetimeIndex(['2012-04-01', '2012-04-02', '2012-04-03', '2012-04-04',
               '2012-04-05', '2012-04-06', '2012-04-07', '2012-04-08',
               '2012-04-09', '2012-04-10', '2012-04-11', '2012-04-12',
               '2012-04-13', '2012-04-14', '2012-04-15', '2012-04-16',
               '2012-04-17', '2012-04-18', '2012-04-19', '2012-04-20'],
              dtype='datetime64[ns]', freq='D')

In [39]:
pd.date_range(end='2012-6-30', periods=20)

DatetimeIndex(['2012-06-11', '2012-06-12', '2012-06-13', '2012-06-14',
               '2012-06-15', '2012-06-16', '2012-06-17', '2012-06-18',
               '2012-06-19', '2012-06-20', '2012-06-21', '2012-06-22',
               '2012-06-23', '2012-06-24', '2012-06-25', '2012-06-26',
               '2012-06-27', '2012-06-28', '2012-06-29', '2012-06-30'],
              dtype='datetime64[ns]', freq='D')

In [40]:
pd.date_range('2000-01-01', '2000-12-01', freq='BM')

DatetimeIndex(['2000-01-31', '2000-02-29', '2000-03-31', '2000-04-28',
               '2000-05-31', '2000-06-30', '2000-07-31', '2000-08-31',
               '2000-09-29', '2000-10-31', '2000-11-30'],
              dtype='datetime64[ns]', freq='BM')

In [41]:
pd.date_range(start='2012-6-30 12:55:10', periods=5)

DatetimeIndex(['2012-06-30 12:55:10', '2012-07-01 12:55:10',
               '2012-07-02 12:55:10', '2012-07-03 12:55:10',
               '2012-07-04 12:55:10'],
              dtype='datetime64[ns]', freq='D')

In [42]:
pd.date_range(start='2012-6-30 12:55:10', periods=5, normalize=True)

DatetimeIndex(['2012-06-30', '2012-07-01', '2012-07-02', '2012-07-03',
               '2012-07-04'],
              dtype='datetime64[ns]', freq='D')

In [44]:
p = pd.Period('2007', freq='A-DEC')

In [45]:
p

Period('2007', 'A-DEC')

In [46]:
p+5

Period('2012', 'A-DEC')

In [47]:
p

Period('2007', 'A-DEC')

In [48]:
pd.Period('2014', freq='A-DEC') - p

In [49]:
rng = pd.period_range('2000-01-01', '2000-06-30', freq='M')

In [50]:
rng

PeriodIndex(['2000-01', '2000-02', '2000-03', '2000-04', '2000-05', '2000-06'], dtype='period[M]', freq='M')

In [51]:
rng = pd.period_range('2000-01-01', '2000-06-30', freq='D')

In [52]:
rng

PeriodIndex(['2000-01-01', '2000-01-02', '2000-01-03', '2000-01-04',
             '2000-01-05', '2000-01-06', '2000-01-07', '2000-01-08',
             '2000-01-09', '2000-01-10',
             ...
             '2000-06-21', '2000-06-22', '2000-06-23', '2000-06-24',
             '2000-06-25', '2000-06-26', '2000-06-27', '2000-06-28',
             '2000-06-29', '2000-06-30'],
            dtype='period[D]', length=182, freq='D')

In [53]:
rng = pd.period_range('2000-01-01', '2000-06-30', freq='M')

In [54]:
pd.Series(np.random.randn(6), index=rng)

2000-01    0.291924
2000-02   -0.964677
2000-03   -0.318701
2000-04   -1.641465
2000-05    0.493290
2000-06   -1.283618
Freq: M, dtype: float64

In [57]:
values = ['2000-01-01','2000-02-01', '2000-03-01']

In [61]:
pd.PeriodIndex(values, freq='M')

PeriodIndex(['2000-01', '2000-02', '2000-03'], dtype='period[M]', freq='M')

In [62]:
p = pd.Period('2007', freq='A-DEC')

In [63]:
p

Period('2007', 'A-DEC')

In [64]:
p.asfreq('M', how='start')

Period('2007-01', 'M')

In [65]:
p.asfreq('M', how='end')

Period('2007-12', 'M')

In [66]:
p.asfreq('D', how='end')

Period('2007-12-31', 'D')

In [69]:
p.asfreq('s', how='end')

Period('2007-12-31 23:59:59', 'S')

In [70]:
rng = pd.period_range('2006', '2009', freq='A-DEC')

In [71]:
ts = pd.Series(np.random.randn(len(rng)), index = rng)

In [72]:
ts

2006   -0.757406
2007    0.874474
2008    0.808065
2009   -0.416813
Freq: A-DEC, dtype: float64

In [73]:
ts.asfreq('M')

2006-12   -0.757406
2007-12    0.874474
2008-12    0.808065
2009-12   -0.416813
Freq: M, dtype: float64

In [74]:
ts.asfreq('M', how='start')

2006-01   -0.757406
2007-01    0.874474
2008-01    0.808065
2009-01   -0.416813
Freq: M, dtype: float64

In [75]:
rng_trimestre = pd.period_range('2000-01-01', '2002-01-01', freq='Q-JAN')

In [76]:
rng_trimestre

PeriodIndex(['2000Q4', '2001Q1', '2001Q2', '2001Q3', '2001Q4', '2002Q1',
             '2002Q2', '2002Q3', '2002Q4'],
            dtype='period[Q-JAN]', freq='Q-JAN')

In [77]:
rng = pd.date_range('2000-01-01', periods=100, freq='D')

In [79]:
rng

DatetimeIndex(['2000-01-01', '2000-01-02', '2000-01-03', '2000-01-04',
               '2000-01-05', '2000-01-06', '2000-01-07', '2000-01-08',
               '2000-01-09', '2000-01-10', '2000-01-11', '2000-01-12',
               '2000-01-13', '2000-01-14', '2000-01-15', '2000-01-16',
               '2000-01-17', '2000-01-18', '2000-01-19', '2000-01-20',
               '2000-01-21', '2000-01-22', '2000-01-23', '2000-01-24',
               '2000-01-25', '2000-01-26', '2000-01-27', '2000-01-28',
               '2000-01-29', '2000-01-30', '2000-01-31', '2000-02-01',
               '2000-02-02', '2000-02-03', '2000-02-04', '2000-02-05',
               '2000-02-06', '2000-02-07', '2000-02-08', '2000-02-09',
               '2000-02-10', '2000-02-11', '2000-02-12', '2000-02-13',
               '2000-02-14', '2000-02-15', '2000-02-16', '2000-02-17',
               '2000-02-18', '2000-02-19', '2000-02-20', '2000-02-21',
               '2000-02-22', '2000-02-23', '2000-02-24', '2000-02-25',
               '2000-02-26', '2000-02-27', '2000-02-28', '2000-02-29',
               '2000-03-01', '2000-03-02', '2000-03-03', '2000-03-04',
               '2000-03-05', '2000-03-06', '2000-03-07', '2000-03-08',
               '2000-03-09', '2000-03-10', '2000-03-11', '2000-03-12',
               '2000-03-13', '2000-03-14', '2000-03-15', '2000-03-16',
               '2000-03-17', '2000-03-18', '2000-03-19', '2000-03-20',
               '2000-03-21', '2000-03-22', '2000-03-23', '2000-03-24',
               '2000-03-25', '2000-03-26', '2000-03-27', '2000-03-28',
               '2000-03-29', '2000-03-30', '2000-03-31', '2000-04-01',
               '2000-04-02', '2000-04-03', '2000-04-04', '2000-04-05',
               '2000-04-06', '2000-04-07', '2000-04-08', '2000-04-09'],
              dtype='datetime64[ns]', freq='D')

In [80]:
ts = pd.Series(np.random.randn(len(rng)), index = rng)

In [81]:
ts

2000-01-01   -1.315267
2000-01-02   -0.531625
2000-01-03   -0.047521
2000-01-04    1.581619
2000-01-05    0.386501
2000-01-06    0.086708
2000-01-07   -0.350029
2000-01-08    1.106668
2000-01-09    1.998885
2000-01-10    0.846014
2000-01-11   -0.853735
2000-01-12   -0.295327
2000-01-13    1.525301
2000-01-14   -0.867602
2000-01-15    0.504338
2000-01-16   -0.875299
2000-01-17   -1.360629
2000-01-18    1.234134
2000-01-19    3.288200
2000-01-20    0.224359
2000-01-21   -0.657856
2000-01-22   -0.445966
2000-01-23    0.064199
2000-01-24    0.163085
2000-01-25    1.402975
2000-01-26   -0.066435
2000-01-27    1.764838
2000-01-28    1.361166
2000-01-29    0.060042
2000-01-30   -0.551014
                ...
2000-03-11   -0.833712
2000-03-12    0.628294
2000-03-13   -0.544944
2000-03-14    0.482800
2000-03-15   -0.034439
2000-03-16    2.310949
2000-03-17   -0.116094
2000-03-18   -0.624188
2000-03-19    0.252895
2000-03-20    1.389477
2000-03-21    0.158524
2000-03-22   -0.186280
2000-03-23    0.166344
2000-03-24    0.970818
2000-03-25    1.626241
2000-03-26   -0.484958
2000-03-27    1.053033
2000-03-28    1.001950
2000-03-29   -0.869175
2000-03-30    0.535632
2000-03-31    0.588162
2000-04-01    0.163967
2000-04-02   -0.514260
2000-04-03    0.475464
2000-04-04   -0.701028
2000-04-05   -0.685278
2000-04-06    1.118696
2000-04-07    2.241943
2000-04-08   -0.576515
2000-04-09   -0.468660
Freq: D, Length: 100, dtype: float64

In [85]:
ts.resample('M').mean()

2000-01-31    0.338398
2000-02-29    0.442174
2000-03-31    0.122094
2000-04-30    0.117148
Freq: M, dtype: float64